/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /*------ banner starts -----*/
  .section-title {
    margin: 35px 0;
    margin-bottom: 0;
  }

  .section-title h1 {
    font-size: 52px;
  }

  .ribbon {
    margin: 10px auto;
  }

  .dots {
    display: none;
  }

  .ribbon-content {
    font-size: 20px !important;
  }
  /*------- banner ends ------*/

  /*---- filtering starts ----*/
  .filtering-cat form {
    position: relative;
    width: 95%;
    float: right;
  }
  /*----- filtering ends ----*/

  /*---- newsletter starts ---*/
  .newsletter p {
    font-size: 23px;
  }

  .newsletter form {
    max-width: 100%;
  }

  .newsletter form .input {
    width: 55%;
  }

  .newsletter form .newsletter-btn {
    width: 35%;
  }
  /*----- newsletter ends ----*/

  /*----- media partners -----*/
  .brands-ul {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .brands-ul li {
    width: 25%;
  }

  .brand-img{
    margin-bottom: 20px;
  }
  /*----- media partners -----*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .snip1585 {
    left: 12%;
  }

  .card_in {
    width: 80%;
    margin-left: 11%;
  }
  /*----- media partners -----*/
  .brands-ul {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .brands-ul li {
    width: 25%;
  }

  .brand-img{
    margin-bottom: 20px;
  }
  /*----- media partners -----*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .snip1585 {
    left: 22%;
  }

  .card_in {
    width: 60%;
    margin-left: 20%;
  }
  
  .sticky-none{
    display: none;
  }

 .sticky{
    background-color: #132c3e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
  }

  .mnew-auto{
    margin: auto!important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .snip1585 {
    left: 14%;
  }

  .card_in {
    width: 80%;
    margin-left: 12%;
  }

  .sticky-none{
    display: none;
  }

 .sticky{
    background-color: #132c3e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
  }

  .mnew-auto{
    margin: auto!important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sticky-none{
    display: none;
  }

 .sticky{
    background-color: #132c3e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
  }

  .mnew-auto{
    margin: auto!important;
  }
}

/*
*
*
*
*
*
*
*/

/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px){
  .chart{
    display: none;
  }

  .snip1585 {
    left: 0px;
    top: 33px;
  }
  
  /*----- media partners -----*/
  .brands-ul li {
      width: 40%;
  }
  /*----- media partners -----*/
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px){
  .chart{
    display: none;
  }

  .snip1585 {
    left: 22px;
    top: 48px;
  }

  /*----- media partners -----*/
  .brands-ul li {
      width: 40%;
  }
  /*----- media partners -----*/
}